body {
    height: auto;
    font-family: 'Exo 2', sans-serif;
    color: #012E55;
    background: url(../images/bg_2.png) repeat;
}

a {
    color: #012E55;
}

html, body {
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Exo 2', sans-serif;
}

h2 {
    font-size: 20px;
}

/*BS overrides*/
.navbar-default {
    padding: 0 15px;
    margin: 0 15px;
}

.footer {
    min-height: 30px;
    padding: 5px;
}

.footer a {
    color: rgba(75,75,75,0.7);
}

.page-header {
    margin: 20px 0;
}

.color-bar-container {
    height: 5px;
}

.color-bar {
    height: 100%;
    width: 20%;
}

.color-turquoise {
    background: #1ABC9C;
    float: left;
}

.color-redhot {
    background: #E74C3C;
    float: left;
}

.color-cool {
    background: #3498DB;
    float: left;
}

.color-navy {
    background: #34495E;
    float: left;
}

.color-gold {
    background: #F39C12;
    float: left;
}

.navbar-brand {
    width: 220px;
    height: 100%;
    padding-left: 0;
    padding-top: 13px;
}

.navbar-nav-icon {
    width: 45px;
    padding-right: 5px;
}

/*carousel overrides*/
.carousel-caption {
    background: rgba(0,0,0,0.75);
    bottom: 30%;
    border-radius: 50px;
}

.w2t-header {
    background: url(../images/bg_2.png);
}

.w2t-navicon {
    cursor: pointer;
}

.w2t-menu-container {
    margin-top: 30px;
    width: 1000px;
    height: 70px;
}

.w2t-menu {
    padding: 5px;
    width: 30%;
    float: left;
}

.w2t-logo-img {
    width: 180px;
    height: auto;
    position: absolute;
    top: 2px;
    left: 27px;
}

.w2t-logo-txt {
    font-size: 1.8em;
}

.w2t-menu-contact {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    padding: 5px 5px 0 0;
}

.w2t-container {
    padding: 0 15px;
}

.w2t-center {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.w2t-contact-link {
    position: absolute;
    top: 10px;
    right: 17px;
}

.section-container {
    margin-top: 60px;
}

.w2t-package-name {
    border-bottom: 1px solid;
    font-weight: bold;
    height: 30px;
    padding: 5px 0px;
    text-align: center;
}

#overlay {    
    background: url(../images/loading.gif) no-repeat center center rgba(255, 255, 255, 0.75);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    display: none;
}

/*screen*/
.s {
    width: 100%;
    min-height: 100%;
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
    /*display:  none;*/
}

.s-h {
    height: 50px;
}

.s-bg {
    background-color: rgba(75,75,75,0.7);
}

/*Home page*/
.w2t-slideshow {
}

.w2t-column {
    border-radius: 5px;
    /*background-image: url(../images/1.jpg);*/
    padding: 5px 15px 5px 15px;
}

.w2t-column:hover {
    background: #E3F1FC;
    box-shadow: 0 0 5px #A7D4FC;
    transition: box-shadow 0.2s ease-in-out;
}

/*Image Hover*/
.da-thumbs figure {
    background: #fff;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    overflow: hidden;
    cursor: pointer;
}

.da-thumbs figure img {
    display: block;
    position: relative;
}

.da-thumbs figure div {
    position: absolute;
    background: #333;
    background: rgba(75,75,75,0.7);
    width: 100%;
    height: 100%;
}

.da-thumbs figure div span {
    display: block;
    padding: 10px 0;
    margin: 40px 20px 20px 20px;
    text-transform: uppercase;
    font-weight: normal;
    color: rgba(255,255,255,0.9);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
}

/*Common*/
.m-l-5 {
    margin-left: 5px;
}

.m-l-26 {
    margin-left: 26px;
}

.m-l-70 {
    margin-left: 70px;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-45 {
    margin-top: 45px;
}

.m-w-768 {
    min-width: 320px;
}

.bgh {
    background: url(../images/bgh.png) top left repeat;
}

.title {
    font-size: x-large;
    font-weight: bold;
}

.w2t-services-section .title {
    font-size: large;
}

.dbi {
    display: inline-block;
}

.w2t-services-menu {
    width: 15%;
    min-width: 100px;
    float: left;
    padding: 5px;
}

.w2t-services-menu li.active {
    background-color: #9999A5;
}

.w2t-services-content {
    width: 85%;
    float: right;
}

.w2t-services-section {
    padding-left: 15px;
    margin-left: 10px;
    border-left: 1px dotted grey;
}

/*Plane Animation*/
#airPlane {
    min-width: 320px;
    position: fixed;
    top: 256px;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../images/airplane.png) 50% 90% no-repeat;
    z-index: 100;
}

#titleFlag {
    background: url(../images/bg_2.png);
    position: absolute;
    max-width: 768px;
    box-shadow: 0 0 1em #090909;
}

#titleFlag > h1 {
    margin: 5px;
}

.page-header {
    height: 50px;
}

/*Media Queries*/
@media (max-width: 768px) {
    .w2t-services-content {
        width: 100%;
        float: right;
    }

    body {
        font-size: 12px;
    }

    h1 {
        font-size: 30px;
    }
}
